/* styles.css */
body {
    font-family: 'Inter', sans-serif;
}

.block-container {
    padding-top: 1rem !important;
}

div[data-testid="stSidebar"] {
    background-color: #f6f9fc !important;
}

h1, h2, h3 {
    color: #1e3a8a !important;
}
